[submodule "pack/plugins/start/nord-vim"]
	path = pack/plugins/start/nord-vim
	url = https://github.com/arcticicestudio/nord-vim.git
[submodule "pack/plugins/start/vim-sandwich"]
	path = pack/plugins/start/vim-sandwich
	url = https://github.com/machakann/vim-sandwich.git
[submodule ".\\pack\\plugins\\start\\vim-unimpaired"]
	path = .\\pack\\plugins\\start\\vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
